body{
    margin: 0;
}
header {
    height: 170px;
    width: 100%;
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 8px;

    font-family: 'Inter', sans-serif;
}
#title {
    color: #fff;
    font-size: 42px;
    font-weight:bold;
    margin: 0;

}
#titleDetails {
    color: #fff;
    font-size: 14px;
    margin: 0;

}
